.profile-image img {
    width: 100%;
    border-radius: 50%;
}

@media( min-width: 768px) {
    .home {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    
    .profile-image {
        flex-basis: 45%;
    }
    
    .about-me {
        flex-basis: 45%;
    }

    .contact-me {
        display: flex;
    }

}
