@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
    --heading-size: 20px;
    --primary-color: rgba(232, 53, 86, 1);
    --secondary-color:  rgb(97, 208, 212);
    --text-color: #4D4D4D;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: #eae5e5;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    /* font-size: 80px; */
    font-size: 4.3rem;
    margin: 0;
}

h2 {
    /* font-size: 50px; */
    font-size: 2.9rem;
}


.container {
    width: 60vw;
    margin: auto;
    /* border: 1px solid grey; */
    flex: 1 0 auto
}

header {
    padding: 10px;
}

.title {
    display: inline-block;
}

.list {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
}

.list-item {
    margin: 5px 8px;
}

.nav {
    display: inline-block;
}

main {
    padding: 10px;
}

/* footer */

footer {
    background-color: var(--primary-color);
    flex-shrink: 0;
}

.contact-me {
    width: 60vw;
    margin: 0 auto;
    list-style: none;
    justify-content: space-between;
    color: white;
}

.contact-me-item {
    flex-basis: 30%;
    margin: 10px;
    display: flex;
}

.contact-me-icon {
    /* width: 2.2rem; */
    margin: 0 10px;
    font-size: 1.8rem;
    color: var(--secondary-color);
    padding: 3px 0;
    /* border-radius: 50%; */
    /* background-color: blue; */
}

.displayNone {
    display: none !important;
}

.list-item.activeLink {
    color: var(--secondary-color);
}

.contact-me-item .follow-me-icons i{
    margin-right: 8px;
}