@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'EB Garamond', serif;
}

.container {
    width: 60vw;
    margin: auto;
    border: 1px solid grey;
    flex: 1 0 auto
}

header {
    padding: 10px;
}

.title {
    display: inline-block;
}

.list {
    list-style: none;
    display: flex;
}

.list-item {
    margin: 5px;
}

.nav {
    display: inline-block;
}

main {
    padding: 10px;
}

/* footer */

footer {
    background-color: pink;
    flex-shrink: 0;
}

.contact-me {
    width: 60vw;
    margin: 0 auto;
    list-style: none;
    justify-content: space-between;
}

.contact-me-item {
    flex-basis: 30%;
    margin: 10px;
    display: flex;
}

.contact-me-icon {
    /* width: 2.2rem; */
    margin: 0 10px;
    font-size: 1.8rem;
    /* border-radius: 50%; */
    /* background-color: blue; */
}

.displayNone {
    display: none !important;
}