.horizontal-card {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.project-image {
    flex-basis: 400px;
    margin: 0 30px;
}

.project-image img {
    width: 100%;
    padding: 5px;
    height: 300px;
}

.projects .project-image img{
    height: 305px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.project-info {
    flex-basis: 40%;
}

.project-info .section-title {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    line-height: 100px;
}

@media( max-width: 550px) {
    .horizontal-card {
        display: block;
    }

    .horizontal-card hr{
        display: none;
    }

    .horizontal-card .section-title {
        display: none;
    }

    .horizontal-card .project-image {
        margin: 0;
    }

    .horizontal-card .project-image img {
        height: 250px;        
    }
}

@media( max-width: 750px) {
    .blogs .horizontal-card {
        display: block;
    }

    .blogs .horizontal-card hr {
        display: none;
    }
}